# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env
server/.env
client/.env

# MongoDB backups
backups/
.vercel
client/build/
client/node_modules/
server/node_modules/
node_modules
node_modules
node_modules
node_modules
node_modules
