node_modules/
package-lock.json
.env
server/.env
client/.env
backups/
client/build/
client/node_modules/
server/node_modules/
client/node_modules/.cache/
server/public/images/*
server/public/images/*
